@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');

form {
    display:flex;
    flex-direction: column;
    width: 100%;
}

label{
    font: var(--betterplace-typography-xs);
    margin-bottom: 4px;
}

input {
    border: 1px solid var(--betterplace-color-gray-400);
    height: var( --betterplace-dimension-3);
    border-radius: 4px;
    padding-left: 8px ;
    font: var(--betterplace-typography-sm);
    width: 100%;
}

input:hover {
    box-shadow: 0 1px 0 0 var(--betterplace-color-gray-200)
}

input:focus {
    outline: none; 
    box-shadow: 
        0 0 0 1px var(--betterplace-color-light), 
        0 0 0 2px var(--betterplace-color-green-700); 
}

.input-error {

}

.input-error:hover {
  
}

.input-error:focus {

}
  

input:disabled {
 
}

input:disabled:focus {
  
}